.logo {
    top: -25px;
}

.items-menu {
    position: absolute;
    left: 140px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.menu{
    height: 75px;
}

.position-menu {
    width: 90%;
}

.dropdown-menu {
  z-index: 1050 !important;
}